.contacts {
    @media(--mobile-screen) {
        padding: 1.6rem 0 2rem 0;
    }

    &__wrap {

    }

    &__side {

    }

    

    &__title {
        font-weight: 600;
        font-size: 2.6rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #1D1D1D;
        margin-bottom: 3.2rem;
    }

    &__side {
        width: 43%;
        @media(--mobile-screen) {
            width: 100%;
        }
        &:first-child {
            width: 55%;
            @media(--mobile-screen) {
                width: 100%;
            }
        }
        
    }

    &__map {
        width: 100%;
        height: 67.2rem;
        box-shadow: var(--shadow);

        @media(--mobile-screen) {
            width: 100%;
            height: 32rem;
            margin-bottom: 7rem;
        }

        &_page {
            width: 100%;
            height: 40.4rem;
            @media(--mobile-screen) {
                height: 36rem;
            }
        }
    }

    &__city {
        position: relative;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #1D1D1D;
        padding: 1.6rem 0;
        border-bottom: .1rem solid #BABABA;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: url('../img/icons/blue_arrow_down.svg') no-repeat;
            background-size: contain;
            width: 1.5rem;
            height: 1.1rem;
            transition: all .3s;
        }
    }

    &__shops {
        
    }

    .location {
        padding: 1.6rem 0;
        border-bottom: .1rem solid #BABABA;

        

        &__head {
            position: relative;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #3F3F3F;
            cursor: pointer;
            transition: all .3s;
            @media(--mobile-screen) {
                padding-right: 6rem;
             }
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: url('../img/icons/blue_arrow_down.svg') no-repeat;
                background-size: contain;
                width: 1.5rem;
                height: 1.1rem;
                transition: all .3s;
            }
        }

        &__info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.6rem;
        }

        &__image {
            max-width: 25.4rem;
            width: 100%;

            @media(--mobile-screen) {
                max-width: 100%;
                margin-bottom: 1rem;
             }

            img {
                width: 100%;
                height: 12.2rem;
                object-fit: cover;
            }
        }

        &__place {

        }

        &__metro {
            display: flex;
            align-items: center;
            margin-bottom: 1.2rem;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;

            &:before {
                content: '';
                display: block;
                background: url('../img/icons/metro.svg') no-repeat;
                background-size: contain;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1.2rem;
            }
        }

        &__timetable {
            display: flex;
            align-items: baseline;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;

            &:before {
                content: '';
                display: block;
                background: url('../img/icons/clock.svg') no-repeat;
                background-size: contain;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1.2rem;
            }
        }

        &__map {
            position: relative;
            margin-top: 4rem;
            width: 100%;
            text-align: center;
            padding-left: 40%;

            @media(--mobile-screen) {
                padding-left: 32%;
             }

            &:before {
                content: '';
                position: absolute;
                left: 35%;
                display: block;
                background: url('../img/icons/map-pin.svg') no-repeat;
                width: 1.8rem;
                height: 1.8rem;
                @media(--mobile-screen) {
                    left: 25%;
                 }
            }
        }

    }

    &__group {
        box-shadow: var(--shadow);
        margin-bottom: 2.4rem;
    }

}

.opened.location__head, .opened.contacts__city {

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(180deg);
        background: url('../img/icons/blue_arrow_down.svg') no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.1rem;
    }
}

.opened.contacts__city {
    border: none;
}

.nav-contacts {
    max-width: 111rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 1.5rem;

    &.more {
        justify-content: initial;
        overflow-x: scroll;
    }

    @media(--mobile-screen) {
        display: none;
    }
    
    &::-webkit-scrollbar {
        display: none;
    }

    &_mobile {
        display: none;
        @media(--mobile-screen) {
            display: block;
        }

        .select_form {
            position: relative;
        }

        .select_head {
            position: relative;
            width: 100%;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #818181;
            background: #F8F8F8;
            padding: 16px;
            padding: 1.6rem;
            border: 1px solid #E8E8E8;
            cursor: pointer;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 12px;
                opacity: .5;
                transform: translate(-50%, -50%) rotate(90deg);
                background: url(../img/icons/black_arrow.svg) no-repeat;
                width: .7rem;
                height: 1.4rem;
                background-size: contain;
            }

            &.open:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 12px;
                opacity: .5;
                transform: translate(-50%, -50%) rotate(270deg);
                background: url(../img/icons/black_arrow.svg) no-repeat;
                width: .7rem;
                height: 1.4rem;
                background-size: contain;
            }
        }

        .select__items {
            position: absolute;
            width: 100%;
            top: 5rem;
            left: 0;
            background: #ffffff;
            border-top: .4rem solid #818181;
            z-index: 99;
            box-shadow: var(--shadow);
        }

        .select__item {
            display: block;
            padding: 1rem 1rem;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #818181;
        }
    }

    &__item {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #818181;
        margin-right: 3.2rem;
        cursor: pointer;
        transition: all .3s;

        &.active {
            color: #1A56B0;
            border-bottom: .2rem solid #1A56B0;
        }

        &:hover {
            color: #1A56B0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.cards-contacts {

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3rem;

        @media(--mobile-screen) {
            margin-right: 0;
        }
    }

    &__item {
        max-width: 25.5rem;
        width: 100%;
        margin-right: 3rem;
        margin-bottom: 2.4rem;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

        &:nth-child(4n+4) {
            margin-right: 0;
        }

        @media(--mobile-screen) {
            max-width: 100%;
            margin-right: 0;
        }
    }

    &__info {
        padding: 1.2rem;
        padding-bottom: 2.4rem;
        background: #ffffff;
    }

    &__image {

        img {
            width: 100%;
            height: 13rem;
            object-fit: cover;
        }
    }

    &__city {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #1D1D1D;
        margin-bottom: .2rem;
    }

    &__address {
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #1D1D1D;
        margin-bottom: 1.8rem;
    }

    &__metro {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #818181;
        margin-bottom: 1rem;

        &:before {
            content: '';
            display: table;
            background: url('../img/icons/moscow-metro-logo.svg');
            width: 1.6rem;
            height: 1.6rem;
            background-size: contain;
            margin-right: .6rem;
        }

        &_place {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            border-bottom: 0.5px solid #BABABA;
            padding-bottom: .8rem;
            margin-bottom: .8rem;
        }
    }

    &__time {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #818181;
        margin-bottom: 1rem;

        &:before {
            content: '';
            display: table;
            background: url('../img/icons/clock_grey.svg');
            width: 1.6rem;
            height: 1.6rem;
            background-size: contain;
            margin-right: .6rem;
        }

        &_value {
            border-bottom: 0.5px solid #BABABA;
            padding-bottom: .8rem;
            margin-bottom: 1rem;
            
            span {
                display: block;
                font-weight: 600;
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0.02em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000000;
            }
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #818181;
        margin-bottom: 1rem;
        &:before {
            content: '';
            display: table;
            background: url('../img/icons/phone_grey.svg');
            width: 1.6rem;
            height: 1.6rem;
            background-size: contain;
            margin-right: .6rem;
        }

        &_value {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;

            a {

            }
        }
    }

    &__button {
        width: 100%;
    }

}