.footer {
    @media(--mobile-screen) {
        margin-bottom: 6rem;
     }
    &__inner {
        padding: 6.4rem 0 3rem 0 ;
        background: #2C2C2C;
        @media(--mobile-screen) {
            padding: 4.5rem 0;
            overflow-x: hidden;
        }
    }

   &__content {
       position: relative;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       @media(--mobile-screen) {
        flex-direction: column-reverse;
     }
   } 

   &__cont {
        display: block;

        @media(--mobile-screen) {
            display: none;
        }
    }

   &__block {
       max-width: 25.5rem;
       width: 100%;
       margin-bottom: 2.4rem;

       @media(--mobile-screen) {
            max-width: 100%;
            margin-bottom: 0;
            padding: 1.5rem 0;
            border-bottom: 1px solid #818181;
        }

        &:last-child {
            @media(--mobile-screen) {
               border: none;
            }
        }

        &.ghost {
            @media(--mobile-screen) {
                display: none;
             }
        }
   }

   &__item {
       display: block;
       font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #BABABA;
        margin-bottom: 1.2rem;

        &.lg {
            position: relative;
            width: 100%;
            @media(--mobile-screen) {
                margin-bottom: 0 !important;
                transition: all .3s;
            }

            &:after {
                @media(--mobile-screen) {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background: url('../img/icons/white_arrow_down.svg') no-repeat;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-size: contain;
                }
            }

            &.opened {
                @media(--mobile-screen) {
                    margin-bottom: 2rem !important  ;
                }

                &:after {
                    @media(--mobile-screen) {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%) rotate(180deg);
                        background: url('../img/icons/white_arrow_down.svg') no-repeat;
                        width: 1.8rem;
                        height: 1.8rem;
                        background-size: contain;
                    }
                }
            }
        }
   }

   &__button {
       width: 100%;
       margin-bottom: 3.2rem;
   }

   &__info {
       display: block;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-bottom: 1.4rem;
        color: #FFFFFF;
        padding: 1rem 0 1.4rem 0;
        border-bottom: 1px solid #BABABA;

        &:last-child {
            border: none;
        }

        &.mail {
            display: flex;
            align-items: center;

            &:before {
                content: '';
                display: table;
                background: url('../img/icons/mail.svg') no-repeat;
                background-size: contain;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1rem;
            }
        }

        &.address {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;

            &:before {
                content: '';
                display: table;
                background: url('../img/icons/map-pin.svg') no-repeat;
                background-size: contain;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1rem;
            }
        }
   }

   &__box {

    &.ordercall {
        display: flex;
        position: relative;
        padding-bottom: 2rem;
        border-bottom: 1px solid #BABABA;
        a, p {
            width: 100%;
        }

        a {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }

        p {
            position: absolute;
            bottom: 1.2rem;
            left: 3.4rem;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #BABABA;
            
        }

        &:before {
            content: '';
            display: table;
            background: url('../img/icons/phone.svg') no-repeat;
            background-size: contain;
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1rem;
        }
    }

    

   }
   
   .lg.footer__item {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        margin-bottom: 2.4rem;

        @media(--mobile-screen) {
            font-size: 1.6rem;
        }
   } 

   &__social {
    display: flex;

        &_item {
            display: block;
            margin-right: 1rem;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media(--mobile-screen) {
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 2.5rem;
        }

        &_item {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 120%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #BABABA;
            margin-left: 2.2rem;

            @media(--mobile-screen) {
                display: block;
                font-weight: 600;
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0.02em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                text-transform: none;
                color: #BABABA;
                margin-left: 0;
                margin-bottom: 1.6rem;
            }

            &:last-child {

                @media(--mobile-screen) {
                   margin-bottom: 0;
                }
            }
        }
    }

}

.copyright {

    background: #181818;
    padding: 1.4rem 0;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media(--mobile-screen) {
           position: relative;
        }
        img {
            max-width: 3.5rem;
            margin-right: 4rem;
            @media(--mobile-screen) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
             }
        }
    }

    &__item {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-right: 4rem;
        color: #FFFFFF;

        &:last-child {
            @media(--mobile-screen) {
                margin-bottom: 0;
             }
        }

        @media(--mobile-screen) {
           width: 100%;
           margin-bottom: .5rem;
           margin-left: 5rem;
        }
    }
}