.hero {

    &__inner {
    //    background: url('../img/backgrounds/hero.jpg') no-repeat;
    //    background-size: cover;
    }

    &__slide {
        padding: 10rem 0;
        @media(--mobile-screen) {
            padding-top: 15rem;
            padding-bottom: 1.6rem;
            background-position: bottom center !important;
           }
    }

    &__heading {
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 5.6rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 2.2rem;
        @media(--mobile-screen) {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            color: #FFFFFF;
           }

        span {
            font-size: 9.6rem;
            line-height: 11.3rem;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on; 
            @media(--mobile-screen) {
               font-size: 6.4rem;
              }
        }
    }
   
    &__description {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        margin-bottom: 6rem;
        @media(--mobile-screen) {
            font-size: 1.6rem;
            line-height: 19px;
            letter-spacing: 0.02em;
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;
    }

    &__button {
       width: 100%;
       max-width: 19.7rem;
       text-align: center; 
       margin-right: 3rem;
       @media(--mobile-screen) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
       }
       &:last-child {
        margin-right: 0;
       }
    }
}

