.button {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 1.4rem 1.5rem;
    background: transparent;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    height: fit-content;

    @media(--mobile-screen) {
        width: 100%;
    }

    &__black {
        color: var(--colorWhite);
        background: var(--colorBlack);
        border: .2rem solid #484848;

        &_attach {
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0;
            padding-right: 4.7rem;
            border: 2px solid #484848;

            @media(--mobile-screen) {
                width: 100%;
                padding-right: 31%;
            }
            &:before {
                content: url('../img/icons/paper-clip.svg');
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4.8rem;
                height: 4.8rem;
                background: #161616;
                margin-right: 2.7rem;
            }
        }
    }

    &__gray {
        color: var(--colorWhite);
        background: #3F3F3F;
        border: 2px solid #484848;
    }

    &__blue {
        color: var(--colorWhite);
        background: var(--colorBlue);
        border: .2rem solid var(--colorBlue);

        &_wrap {
            @media(--mobile-screen) {
                display: none;
            }

            &.mobile {
                display: none;
                @media(--mobile-screen) {
                    display: block;
                    margin-top: 3rem;
                }
            }
        }
    }

    &__white {
        color: var(--fontColor);
        background: var(--colorWhite);
        border: .2rem solid var(--colorWhite);
    }

    &_ghost-white {
        color: var(--colorWhite);
        border: .2rem solid var(--colorWhite);
    }

    &_ghost-black {
        
    }

 }

 .button__blue_arrow {
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     padding: 0;
     padding-left: 5.5rem;
     @media(--mobile-screen) {
        width: 100%;
        padding-left: 35%;
    }

     &:after {
         content: url('../img/icons/white_arrow.svg');
         display: flex;
         justify-content: center;
         align-items: center;
         width: 4.8rem;
         height: 4.8rem;
         background: #254D8A;
         margin-left: 2.7rem;
     }
 }

 .button__white_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    padding-left: 5.5rem;
    @media(--mobile-screen) {
        width: 100%;
        padding-left: 35%;
    }

    &:after {
        content: url('../img/icons/black_arrow.svg');
        display: flex;
       justify-content: center;
       align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        background: #F8F8F8;
        margin-left: 2.7rem;
    }
}

.button__black_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    padding-left: 5.5rem;
    @media(--mobile-screen) {
        width: 100%;
        padding-left: 35%;
    }

    &:after {
        content: url('../img/icons/white_arrow.svg');
        display: flex;
       justify-content: center;
       align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        background: #1D1D1D;
        margin-left: 2.7rem;
    }
}