
 html {
    font-size: 62.5%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    font: 1.6rem 'Raleway', sans-serif;
    margin: 0;
    background: var(--colorMain);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }
  
  main {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
 
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  p, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none !important;
  }
  
  .br {
    display: block;
    @media(--mobile-screen) {
      display: block;
    }
  }

  .container {
      display: block;
      max-width: 111rem;
      margin: 0 auto;
      padding: 0 1.7rem;
      box-sizing: content-box;
  }

  .section {

    &__inner {
      padding: 5rem 0;

      @media(--mobile-screen) {
        padding: 4.5rem 0;
      }
    }

    &__heading {
      font-weight: 600;
      font-size: 3.6rem;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #1D1D1D;
      margin-bottom: 2.4rem;

      &_white {
        color: var(--colorWhite);
      }

      @media(--mobile-screen) {
        font-size: 26px;
        line-height: 120%;
      }
      
    }

    &__list {

      &_item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 1.2rem;

        &:before {
          content: '';
          display: table;
          width: .6rem;
          height: .6rem;
          border-radius: 50%;
          background: #1A56B0;
          margin-right: 1.3rem;
          margin-bottom: .7rem;
        }
      }
    }

    &__text {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 1.5rem;
      &_white {
        color: var(--colorWhite);
      }
    }

    &__title {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #818181;
      margin-bottom: 1rem;
      @media(--mobile-screen) {
        font-size: 12px;
        line-height: 14px;
       }
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__side {
      width: 44%;
      @media(--mobile-screen) {
       width: 100%;
       margin-bottom: 6.4rem;
      }
      &:last-child {
        width: 49%;
        @media(--mobile-screen) {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }

    &__controls {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 6rem;
    }

    &__button {
      display: block;
      width: 48%;
      text-align: center;
      @media(--mobile-screen) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }

  }

  .app__notice {
    font-size: 2rem;
    line-height: 170%;
    letter-spacing: 0.15px;
    color: #333333;
    padding: 3.5rem 13.3rem 3.5rem 3.5rem;
    margin-bottom: 2rem;
    @media(--mobile-screen) {
      padding: 2.5rem;
    }
  }

  .app__notice.green {
    background-color: #E9FCEE;
    border-left: 5px solid #2BB151;
  }

  .app__notice.yellow {
    background-color: #FBFCE9;
    border-left: 5px solid #F5D83E;
  }

  .date_img {

    &:after {
      content: '';
      top: 0rem;
      right: 8.5rem;
      position: absolute;
      display: block;
      width: .2rem;
      height: 6.4rem;
      background: #EBEBEB;
      z-index: 0;
      // #EBEBEB
    }

  }

  input {
    @media(--mobile-screen) {
      font-size: 1.5rem;
    }
  }

  input[type="date"]::-webkit-inner-spin-button {
    // display: none;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator{
    //background: url('../img/icons/calendar.svg') no-repeat;
    //padding: 0;
    cursor: pointer;
  }

  .call-nav {

    &__inner {
      padding-top: 3.3rem;
    }

    &__items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      // max-width: 17.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 120%;
      background: var(--colorWhite);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #1D1D1D;
      box-shadow: var(--shadow);
      overflow: hidden;
      @media(--mobile-screen) {
       width: 100%;
       margin-bottom: 2rem;
       font-size: 14px;
        line-height: 120%;
    }

      &:after {
        content: url('../img/icons/arrow.svg');
        display: block;
        background: var(--colorMain);
        width: 1rem;
        height: 2rem;
        background-size: contain;
        padding: 4.8rem 2rem;
        margin-left: 4rem;
        
      }
    }

    &__item.design {

      &:before {
        content: url('../img/icons/desproj.svg');
        display: block;
        background: #2C2C2C;
        width: 6.5rem;
        height: 6.5rem;
        background-size: contain;
        padding: 2.5rem;
        margin-right: 2rem;
        @media(--mobile-screen) {
          width: 6rem;
          height: 6rem;
        }
      }
    }

    &__item.designer {

      &:before {
        content: url('../img/icons/des.svg');
        display: block;
        background: #2C2C2C;
        width: 6.5rem;
        height: 6.5rem;
        background-size: contain;
        padding: 2.5rem;
        margin-right: 2rem;
      }
    }

    &__item.measurer {

      &:before {
        content: url('../img/icons/measurer.svg');
        display: block;
        background: #2C2C2C;
        width: 6.5rem;
        height: 6.5rem;
        background-size: contain;
        padding: 2.5rem;
        margin-right: 2rem;
      }
    }
  }


  .app__checkbox {
    
    cursor: pointer; }
  
  .app__checkbox {
    position: absolute;
    opacity: 0; }
  
  .app__checkbox + label {
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #BABABA;
    text-align: center;
    border-radius: 2px;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
            font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.02em;
    // border: 1px solid #C9C9C9;
    background: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .app__checkbox:checked + label {
    font-weight: 600;
    border: 2px solid #1A56B0;
    color: #1A56B0;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, .15);
            box-shadow: 4px 4px 16px rgba(0, 0, 0, .15); 

            @media(--mobile-screen) {
              
          }
  }
  
  .app__checkbox + label:before {
    display: none; }
  
  .app__checkbox + label:before {
    display: none; }
  
  .app__checkbox:checked + label:before {
    background: #ffffff;
    border: 2px solid #333333;
    display: none; }
  
  .app__checkbox:disabled + label {
    color: #cecece;
    cursor: auto; }
  
  .app__checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none; }
  
  .app__checkbox:checked + label:after {
    display: none; }


    .callback-form {

      &__inner {
        background: url('../img/backgrounds/callback.jpg') no-repeat;
        background-size: cover;
      }

      &__heading {
        font-weight: 600;
        font-size: 2.6rem;
        line-height: 120%;
        /* or 31px */

        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 3rem;
        color: #FFFFFF;
      }

      &__button {
        margin-left: auto;
      }

    }

.form {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(--mobile-screen) {

    }
  }

  &__input {
    max-width: 33.5rem;
    width: 100%;
    margin-bottom: 3rem;
    @media(--mobile-screen) {
      max-width: 100%;
  }

    input {
      width: 100%;
      border: none;
      background: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 0.02em;
      padding: .5rem 0;
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      outline: none;

      &::placeholder {
        color: #FFFFFF;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6rem;

  &__item {
    display: flex;
    align-items: center;
    margin-right: .8rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: #818181;
    text-transform: uppercase;

    &:after {
      content: '|';
      display: block;
      margin-left: .8rem;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }

}

.page {
  padding: 1.6rem 0 5rem 0;

  &__inner {

  }

  &__content {

    &_less {
      width: 74%;
    }
    width: 77%;
    margin-bottom: 10.4rem;
    @media(--mobile-screen) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  

}


.sidebar {
  width: 22.5rem;

  @media(--mobile-screen) {
    display: none;
  }

  &_grey {
    width: 25.5rem;

    .sidebar__item.active {
      .sidebar__head {
        color: #1D1D1D;
        border-left: .4rem solid #1A56B0;
      }
    }

    .sidebar__head {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #818181;
      padding: 1.2rem 2.5rem;
      border-left: .4rem solid #818181;

    }

  }

  &__item {
    background: var(--colorWhite);
    margin-bottom: .4rem;
  }

  &__head {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1D1D1D;
    padding: 1.2rem 2.8rem;
    border-left: .4rem solid #3F3F3F;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #1D1D1D;
      border-left: .4rem solid #1A56B0;
    }

    &.opened {
      background: #1A56B0;
      border-left: .4rem solid #254D8A;
      color: #ffffff;
    }

    &.sales {
      border-left: .4rem solid #F05540;
    }
  }

  &__content {
    display: none;
    padding: 1.6rem 3rem;
  }

  &__elem {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #818181;
    margin-bottom: 1.6rem;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.5rem;
  @media(--mobile-screen) {
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: .4rem;
    &.current {

      span {
        color: #1A56B0;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #818181;
    }

  }

  &__prev, &__next {
    position: relative;
    background: #254D8A;
  }

  &__prev {

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      background: url('../img/icons/white_arrow.svg') no-repeat;
      width: .7rem;
      height: 1.3rem;
      background-size: contain;
    }
  }

  &__next {

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../img/icons/white_arrow.svg') no-repeat;
      width: .7rem;
      height: 1.3rem;
      background-size: contain;
    }
  }
}

.filter__content {

}

.filter__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: .4rem;
  // @media(--mobile-screen) {
  //   display: none;
  // }
  &:last-child {
    margin-bottom: 3rem;
  }

  

  @media(--mobile-screen) {
    margin-bottom: 0;
  }
}

.select {
  position: relative;
}

.select__head {
  position: relative;
  width: 100%;
  padding: 0.7rem;
  color: #5c6873;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #1D1D1D;
  border-radius: 0.3rem;
  border: 0.1rem solid var(--colorGrey);
  cursor: pointer;
}

.select__head:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
      right: -7px;
  transform: translate(-50%, -50%) rotate(90deg);
  background: url('../img/icons/black_arrow.svg') no-repeat;
  width: .7rem;
  height: 1.4rem;
  background-size: contain;
  transition: all 0.3s;
  @media(--mobile-screen) {
    background: url('../img/icons/plus.svg') no-repeat;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.select__list {
  width: max-content;
  position: absolute;
  left: 0;
  top: 45px;
  padding: 0;
  list-style: none;
  background: var(--colorWhite);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
  padding: 1.2rem 2.4rem;
  border-top: .4rem solid #3F3F3F;

  @media(--mobile-screen) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    box-shadow: none;
    border: none;
    padding: 1.2rem .3rem;
  }
}

.select__item {
  display: block;
  padding: 0.7rem .3rem;
  cursor: pointer;
  font-weight: 600;
font-size: 12px;
line-height: 120%;
/* or 14px */

letter-spacing: 0.02em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #1D1D1D;

}

.select__item:hover {
}

.open.select__head:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translate(-50%, -50%) rotate(270deg);
  background: url('../img/icons/black_arrow.svg') no-repeat;
  width: .7rem;
  height: 1.4rem;
  background-size: contain;
  @media(--mobile-screen) {
    background: url('../img/icons/minus.svg') no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.filter.select {
  width: 14.2%;
  background: var(--colorWhite);
  padding: 1.3rem;
  @media(--mobile-screen) {
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    padding: 2.4rem 1.5rem;
    padding-right: .5rem;
  }
}

.filter.select .select__head {
  white-space: nowrap;
  padding: 0.3rem;
  padding-right: 3rem;
  @media(--mobile-screen) {
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

.filter.select .select__item {
  font-size: 1.2rem;
  color: #5c6873 !important;
}

.filter {

  &__items {
    height: auto;
    overflow: hidden;

    &.full {
      height: 14.5rem;
      
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-right: 1.3rem;
    margin-bottom: .7rem;
    color: #1A56B0;
    
    span {
      display: inline-flex;
      font-size: 1.9rem;
      font-weight: 300;
      padding: .3rem .3rem;
      padding-top: 0;
      background: #BABABA;
      border-radius: 1px;
      margin-left: .4rem;
      color: #fff;
      cursor: pointer;
    }
  }

  &__choise {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.6rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #2C2C2C;
    text-align: center;
    @media(--mobile-screen) {
      display: none;
    }
  }

  &__choises {
    display: flex;
    flex-wrap: wrap;
    width: 52%;
    height: 5.2rem;
    background: #fff;
    padding: .8rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    &_mobile {
      display: none;
      @media(--mobile-screen) {
        display: flex;
        margin-top: -3rem;
        margin-bottom: 1.5rem;
      }
    }

    &_menu {
      @media(--mobile-screen) {
        
      }
    }

    @media(--mobile-screen) {
      width: 100%;
      height: auto;
      overflow-y: initial;
      // padding: 0 0;
    }
  }

  &_more {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1A56B0;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      background: url('../img/icons/black_arrow.svg') no-repeat;
      transform: rotate(90deg);
      width: 1rem;
      height: 1.4rem;
      background-size: contain;
      margin-left: .8rem;
    }

    &.full {
      &:after {
        content: '';
        display: block;
        background: url('../img/icons/black_arrow.svg') no-repeat;
        transform: rotate(270deg);
        width: 1rem;
        height: 1.4rem;
        background-size: contain;
        margin-left: .8rem;
      }
    }
  }

  &__inputs {
    // display: flex;
    
  }

  &__input {
    display: inline-block;
    width: 15.5rem;
    @media(--mobile-screen) {
      width: 49%;
     }
     
    input {
      width: 100%;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 120%;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      padding: 1.3rem 3.4rem;
      background: #FFFFFF;
      border: 1px solid #ABB2B9; 
      outline: none; 
      
      &::placeholder {
        color: #BABABA;
      }

      @media(--mobile-screen) {
        padding: 1rem 1.5rem;
       }
    }
  }

}

.select__list.price {
  left: auto;
  right: 0;
}


.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + label{
position: relative;
 color: #000;
 font-weight: 600;
font-size: 12px;
line-height: 120%;
/* or 14px */

letter-spacing: 0.02em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #1D1D1D;
 cursor: pointer;
}


.checkbox:checked + label:before {
  background: #1A56B0;
  border: 1px solid #1A56B0;
}

.checkbox:disabled + label {
  color: #BABABA;
}

.checkbox:disabled + label:before {
  background: #E7E7E7;
  border: 1px solid #ABB2B9;
}

.checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  border: 1px solid #b2b2b2;
}

.checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 5px;
  background: none;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff, 4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
  transform: rotate(45deg);
}

.page__checkbox {
  margin-bottom: 1.7rem;
}


.toggle {
  width: 2.8rem;
  height: 1rem;
  background: #E7E7E7;
  margin: 2.4rem 0;
  position: relative;
  border-radius: 9px; }
  .toggle label {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: -2px;
    left: 1px;
    cursor: pointer;
    background: #868686;
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .toggle input[type=checkbox] {
    visibility: hidden; }
    .toggle input[type=checkbox]:checked + label {
      left: 15px;
      background: #1A56B0; }

    .toggle_text {
      display: flex;
      align-items: center;
      margin-right: 12rem;
      margin-bottom: 2.4rem !important;
      @media(--mobile-screen) {
        margin-top: .4rem !important;
        margin-bottom: .4rem !important;
      }
      p {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #1D1D1D;
        margin-left: 2.5rem;
        white-space: nowrap;
      }
    }

    .filter__content {

      @media(--mobile-screen) {
        display: none;
        margin-top: -3rem;
      }
    }

.filter-mobile {
  display: none;
  @media(--mobile-screen) {
    display: flex;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #2C2C2C;
    border: 2px solid #484848;
    margin-bottom: 4.3rem;

    &:before {
      content: url('../img/icons/filter.svg');
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      padding: 2.5rem;
      box-sizing: border-box;
      background: #1D1D1D;
    }

    &:after {
      content: url('../img/icons/white_arrow_down.svg');
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      padding: 2.5rem;
      box-sizing: border-box;
      background: #1D1D1D;
    }

    &.opened {
      &:after {
        content: url('../img/icons/white_arrow_down.svg');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        padding: 2.5rem;
        box-sizing: border-box;
        background: #1D1D1D;
        transform: rotate(180deg);
      }
    }
   }

   
}

.mobile-phonecall {
  display: none;
  @media(--mobile-screen) {
    display: block;
  }

  
  .top-header__text.phone {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
    margin-bottom: .8rem;
    margin-top: -1.2rem;
  }
  .top-header__link_bold {
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1D1D1D;
    text-decoration: none;
  }

  &__inner {
    padding-top: 0;
  }

  .top-header__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // margin-top: -55px;

    &.normal {
      margin-top: 55px;
    }

    img {
      display: block;
      max-width: 3.5rem;
      width: 100%;
      margin-right: 1.5rem;
      margin-top: -1.5rem;
    }
  }
} 

.mobile-consult {
display: none;
@media(--mobile-screen) {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  z-index: 99999;
}
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    padding: 1.4rem 0;

    &:nth-child(even) {
      background: #F8F8F8;
    }

    img {
      display: block;
      margin-right: .8rem;
    }

    p {
      font-weight: bold;
      font-size: 7.5px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: #000000;
    }
  }
}

.free_design {
  padding: 4.8rem 3rem;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  @media(--mobile-screen) {
    padding: 2rem 1rem;
    
  }
}

.form {

  &__box {
    margin-bottom: 6.5rem;
    @media(--mobile-screen) {
      margin-bottom: 6.4rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text {
    width: 32%;
    margin-bottom: 2rem;
    @media(--mobile-screen) {
      width: 100%;
    }

    input {
      width: 100%;
      padding: 1.6rem;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #1D1D1D;
      background: #F8F8F8;
      border: 1px solid #E8E8E8;
      outline: none;

      &::placeholder {
        color: #818181;
      }
    }
  }

  &__textarea {
    width: 100%;

    textarea {
      width: 100%;
      padding: 1.6rem;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #1D1D1D;
      background: #F8F8F8;
      border: 1px solid #E8E8E8;
      resize: none;
      outline: none;

      &::placeholder {
        color: #818181;
      }
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin-bottom: 2.4rem;

    @media(--mobile-screen) {
      font-size: 1.8rem;
    }
  }

  .kitchen-fasad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.4rem;
    padding-bottom: 1.2rem;
    background: #F8F8F8;
    @media(--mobile-screen) {
      padding: 1rem;
    }

    .app__checkbox + label {
      position: relative;
      width: max-content;
      display: block;
      cursor: pointer;
      font-weight: 600;
      font-size: 10px;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #818181;
      user-select: none;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      margin: 0 1.2rem 1.2rem 0;
      padding: 1.3rem;
      @media(--mobile-screen) {
        font-size: 8px;
      }
    }
    .app__checkbox:checked + label {
      background: #1A56B0;
      border: none;
      font-weight: 600;
      color: #ffffff;
      padding: 1.3rem;
      cursor: pointer;
        @media(--mobile-screen) {
        
        }
    }
  }

  .kitchen-budget {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .form-control {
      width: 32%;
      @media(--mobile-screen) {
       width: 100%;
       margin-bottom: 2rem;
      }
    }

    .app__checkbox + label {
      position: relative;
      width: 100%;
      display: block;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #818181;
      background: #F8F8F8;
      user-select: none;
      padding: 2.1rem 0rem;
      border: 1px solid #BABABA;
      box-shadow: none;
    }
    .app__checkbox:checked + label {
      color: #000000;
      box-shadow: none;
        @media(--mobile-screen) {
        
        }
    }
  }

  .kitchen-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .app__checkbox + label {
        position: relative;
        display: block;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        border-radius: 2px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        letter-spacing: 0.02em;
        background: #ffffff;
        user-select: none;
        border: 1px solid #BABABA;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #1D1D1D;
          background: rgba(255, 255, 255, 0.7);
          padding: 1rem 0;
          text-align: center;
        }
    }

    .form__control {
      width: 48%;
      margin-bottom: 2.2rem;
      @media(--mobile-screen) {
        width: 100%;
      }
    }

  }

  .form_notice {
    max-width: 21.9rem;
    width: 100%;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    margin-top: .8rem;
    color: #818181;
  }

  .select_form {
    position: relative;
    .select_head {
      position: relative;
      max-width: 50.8rem;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #818181;
      background: #F8F8F8;
      padding: 1.6rem;
      border: 1px solid #E8E8E8;
      cursor: pointer;
    }

    .select_head:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 12px;
      opacity: .5;
      transform: translate(-50%, -50%) rotate(90deg);
      background: url('../img/icons/black_arrow.svg') no-repeat;
      width: .7rem;
      height: 1.4rem;
      background-size: contain;
    }

    .open.select_head:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 12px;
      opacity: .5;
      transform: translate(-50%, -50%) rotate(270deg);
      background: url('../img/icons/black_arrow.svg') no-repeat;
      width: .7rem;
      height: 1.4rem;
      background-size: contain;
    }

    .select__items {
      position: absolute;
      width: max-content;
      top: 5rem;
      left: 0;
      box-shadow: var(--shadow);
      background: #ffffff;
      border-top: .4rem solid #818181;
      z-index: 99;
      @media(--mobile-screen) {
        width: 100%;
      }
    }

    .salon_item {
      padding: 1rem 1rem;
    }

    .select__item {
      color: #818181;

      &:hover {
        color: inherit;
      }
    }
  }


  .app__checkbox {
    
    cursor: pointer; }
  
  .app__checkbox {
    position: absolute;
    opacity: 0; }
  
  .app__checkbox + label {
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
            font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.02em;
    // border: 1px solid #C9C9C9;
    background: #ffffff;
    user-select: none; }
  
  .app__checkbox:checked + label {
    font-weight: 600;
    border: 2px solid #1A56B0;
    color: #1A56B0;
    cursor: pointer;
            box-shadow: 4px 4px 16px rgba(0, 0, 0, .15); 

            @media(--mobile-screen) {
              
          }
  }
  
  .app__checkbox + label:before {
    display: none; }
  
  .app__checkbox + label:before {
    display: none; }
  
  .app__checkbox:checked + label:before {
    background: #ffffff;
    border: 2px solid #333333;
    display: none; }
  
  .app__checkbox:disabled + label {
    color: #cecece;
    cursor: auto; }
  
  .app__checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none; }
  
  .app__checkbox:checked + label:after {
    display: none; }

}

.block_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  p {
    max-width: 15rem !important;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

.processing {
  display: flex;
  position: relative;
  width: 4rem;
  height: 1.8rem;
  background: #1A56B0;
  margin: 2.4rem 0;
  border: 1px solid #C9C9C9;
  border-radius: 9px;


  label {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer;
    background: #BBC1E1;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; 
  }

  input[type=checkbox] {
    visibility: hidden; 
  }

  input[type=checkbox]:checked + label {
    left: 23px;
    background: #FFFFFF; 
  }
}

.form__block {
  @media(--mobile-screen) {
    width: 100%;
  }
}

.form__block_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-designer {
  background: url('../img/backgrounds/jutta.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  
  
  &__inner {
    max-width: 47%;
    display: block;
    margin-left: auto;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    padding: 4rem 3.2rem;
    @media(--mobile-screen) {
      max-width: 100%;
      padding: 5.6rem 1.5rem;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin-bottom: 3.2rem;
    span {
      color: #1A56B0;
    }
  }

  .form__text {
    width: 100%;
  }

  .block_wrap {
    margin-bottom: 0;
    p {
      max-width: 100% !important; 
      font-weight: 600;
      font-size: 8px;
      line-height: 120%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #818181;
    }
  }

  &__button {
    width: 100%;
  }
}

.call-designer {

  &__inner {
    padding: 6.4rem 3.2rem 4.5rem 3.2rem;
    background: #ffffff;
    @media(--mobile-screen) {
      max-width: 100%;
      padding: 5rem 1.5rem;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1D1D1D;
    margin-bottom: 3.2rem;
    @media(--mobile-screen) {
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
    }

    &_line {

      &:before {
        content: '';
        display: block;
        width: 4.4rem;
        height: .4rem;
        background: #1A56B0;
        margin-bottom: 1.1rem;
      }
    }
  }

  &__text {
    max-width: 47rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1D1D1D;
    margin-bottom: 5rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @media(--mobile-screen) {
      margin-bottom: 4rem;
    }

    &_grey {
      font-weight: 500;
      color: #818181;
    }

    &_center {
      max-width: 100%;
      text-align: center;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6rem;
    @media(--mobile-screen) {
      margin-bottom: 4rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    width: 24%;
    background-color: #1D1D1D;
    padding: 2.2rem 1.6rem 1.6rem 1.6rem;

    @media(--mobile-screen) {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;
      padding: .5rem;
    }
  }

  &__img {
    margin-bottom: 2.2rem;
    @media(--mobile-screen) {
      padding: 2.6rem 1.6rem;
      background: #2E2E2E;
      margin-bottom: 0;
      margin-right: 1.6rem;
    }
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }

    &_ghost {
      position: absolute;
      top: 0;
      left: -2rem;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: .1;
      @media(--mobile-screen) {
        display: none;
      }
    }
  }

  &__description {
    font-weight: 600;
    font-size: 8px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    @media(--mobile-screen) {
      font-size: 12px;
    }
  }

  &__can {
    display: flex;
    width: 49%;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1D1D1D;
    margin-bottom: 2.4rem;
    @media(--mobile-screen) {
      width: 100%;
    }

    &:before {
      content: '';
      display: table;
      background: url('../img/icons/check-circle.svg') no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: cover;
      margin-right: 1.2rem;
      margin-top: .3rem;
    }
  }

}


.form__text, .form__control, .form__textarea {
  position: relative;
}

div.input_error {
  position: absolute;
  bottom: -15px;
  font-size: 12px;
  color: #C51C10;
}

label.input_error {
  position: absolute;
  bottom: -17px;
  left: 0;
  font-size: 12px;
  color: #C51C10;
}

.form .kitchen-form .form__control + label.input_error {
  position: absolute;
  left: auto;
  bottom: auto;
  font-size: 12px;
  color: #C51C10;
}